<h1 style="text-align: center;">BurgersYUM!</h1>

<div style="display: flex; justify-content: space-evenly;">
  <img src="/assets/img/burger.png" alt="just a plain jane burger">
</div>

<div style="display: flex; justify-content: space-evenly; flex-wrap:wrap">
  <div>
    Ordered:
    <ul>
      {{#each burgers}}
        {{#unless full}}
          <li>
            {{burger_name}}
          </li>

          <button class="change-full" data-id="{{id}}" data-newHunger="{{full}}">
            {{#if full}}BURGER TIME!{{else}}EAT!{{/if}}
          </button>
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div>
    Consumed:
    <ul>
      {{#each burgers}}
        {{#if full}}
        <li>
          {{burger_name}}
        </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<div style="display: flex; flex-direction: column; align-items:center">
  <h2>Order a burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="newBurger"></label>
      <input type="text" size="50" id="newBurger" name="burger_name">
    </div>
    
    <div class="form-group">
      <label for="full"></label>
      <input type="radio" size="50" id="newBurger" name="full" value="0" checked>NOT EATEN 
    </div>

    <button type="submit">Place Order</button>
  </form>
</div>