<h1>Burgers!</h1>
<img src="../public/assets/img/burger.png" alt="just a plain jane burger">

<div>
  <ul>
    {{#each burgers}}
      {{#unless hungry}}
        <li>
          {{burger_name}}
        </li>

        <button class="change-full" data-id="{{id}}" data-newHunger="{{full}}">
          {{#if hungry}}BURGER TIME!{{else}}EAT A BURGER!!{{/if}}
        </button>
      {{/unless}}
    {{/each}}
  </ul>
</div>

<div>
  <ul>
    {{#each burgers}}
      {{#if hungry}}
      <li>
        {{burger_name}}
      </li>
      {{/if}}
    {{/each}}
  </ul>
</div>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="newBurger">Burger:</label>
    <input type="text" size="50" id="newBurger" name="burger_name">
  </div>
  
  <div class="form-group">
    <label type="radio" name="full" value="1"> NO EAT YET</label>
  </div>

  <button type="submit">ADD BURGER</button>
</form>
