<h1>Burgers!</h1>

<div>
  <ul>
    {{#each burgers}}
      {{#unless hungry}}
        <li>
          {{burger_name}}
        </li>
      {{/unless}}
    {{/each}}
  </ul>
</div>

<div>
  <ul>
    {{#each burgers}}
      {{#if hungry}}
        {{burger_name}}
      {{/if}}
    {{/each}}
  </ul>
</div>

<h2>Add a burger</h2>
<form class="create-form">

	<button class="change-hunger" type="submit" data-id="{{id}}" data-newHunger="{{hungry}}">
		{{#if hungry}}BURGER TIME!{{else}}GET A BURGER!!{{/if}}
	</button>

	<button class="change-hunger" type="submit" data-id="{{id}}" data-newHunger="{{full}}">
		{{#if full}}NAP TIME!{{else}}FORGET A BURGER!!{{/if}}
	</button>

</form>
