<li>
	{{name}}

	<button class="change-hunger" data-id="{{id}}" data-newHunger="{{hunger}}">
		{{#if sleep}}BURGER TIME!{{else}}GET A BURGER!!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
